.dialog-wrapper {
    display: flex;
    justify-content: space-between;
}

.parts {
    width: 56%;
    margin: auto;
    direction: rtl;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid #969696;
    border-radius: 4px;
    background-color: #424242;
}

mat-expansion-panel {
    direction: ltr;
    border-bottom: 1px solid #969696;
    background: #4a4a4a !important;
}

.custom {
    width: 42%;
}

mat-expansion-panel-header[aria-disabled='true'] {
    color: white !important;
}

mat-icon {
    font-size: 14px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.col-2 {
    display: flex;
    justify-content: space-between;
}

.col-2 mat-form-field {
    width: 49%;
}
