.dialog-wrapper {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    justify-content: space-between;
}

.parts {
    width: 60%;
    margin: auto;
    direction: rtl;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid #969696;
    border-radius: 4px;
    background-color: #424242;
}

mat-expansion-panel {
    direction: ltr;
    border-bottom: 1px solid #969696;
    // border-top: 1px solid #969696;
    background: #4a4a4a !important;
}

.custom {
    width: 38%;
}

mat-expansion-panel-header[aria-disabled='true'] {
    color: white !important;
}

// mat-expansion-panel {
//     background: #363636 !important;
// }

// mat-expansion-panel[aria-disabled='true'] {
//     background: #424242 !important;
// }

mat-icon {
    font-size: 14px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    color: white;
}
