<div id="canvas-wrapper"><canvas></canvas></div>
<form #orbitEditForm="ngForm" name="form" (ngSubmit)="onSubmit()">
    <div>
        <section style="margin-bottom: 10px">
            <div style="float: left; width: 260px; margin-top: 4px">
                <mat-checkbox
                    [(ngModel)]="orbitService.guidelines"
                    name="guidelines"
                    (ngModelChange)="orbitService.toggleGuideLines()"
                    color="'accent'"
                    >Add guidelines</mat-checkbox
                >
            </div>
            <div style="margin-left: 270px; display: flex; justify-content: end; gap: 10px">
                <mat-label for="mat-zoom-slider" style="align-self: center">Zoom</mat-label>
                <mat-slider
                    class="slider"
                    id="mat-zoom-slider"
                    step="0.02"
                    min="0.4"
                    max="2"
                    discrete="true"
                    style="max-width: 60%"
                >
                    <input
                        matSliderThumb
                        name="zoom-slider"
                        id="zoom-slider"
                        [(ngModel)]="orbitService.zoom"
                        (ngModelChange)="orbitService.changeZoom(satellite.orbit!)"
                        #eccentricitySlider="ngModel"
                    />
                </mat-slider>
            </div>
        </section>
        <!-- semi major axis -->
        <div class="cols-2 between-sliders">
            <mat-form-field class="form-group orbit" appearance="fill" style="width: 60%">
                <mat-label for="semimajoraxis">Semimajor axis (a) in km</mat-label>
                <input
                    matInput
                    type="number"
                    name="semimajoraxis"
                    id="semimajoraxis"
                    class="form-control"
                    [(ngModel)]="satellite.orbit!.semiMajorAxis"
                    #semiMajorAxis="ngModel"
                    (ngModelChange)="changeSemimajorAxis()"
                    required
                    step="1"
                    [ngClass]="{
                        'is-invalid': semiMajorAxis.invalid && semiMajorAxis.touched
                    }"
                />
                <mat-error
                    class="invalid-feedback"
                    *ngIf="semiMajorAxis.invalid && semiMajorAxis.touched && semiMajorAxis.errors!['required']"
                    >Semimajor axis is required</mat-error
                >
            </mat-form-field>
            <!-- period -->
            <mat-form-field class="form-group orbit" appearance="fill" style="width: 38%">
                <mat-label for="period">Period (P) in days</mat-label>
                <input
                    matInput
                    type="number"
                    name="period"
                    class="form-control"
                    [(ngModel)]="satellite.orbit!.period"
                    #period="ngModel"
                    disabled
                />
            </mat-form-field>
        </div>

        <!-- eccentricity -->
        <div class="label-container">
            <label class="label" for="eccentricity-slider">Eccentricity (e)</label>
            <span class="label-value" id="eccentricity-value">{{ satellite.orbit!.eccentricity?.toFixed(3) }}</span>
        </div>
        <mat-slider class="slider" id="mat-eccentricity-slider" step="0.005" min="0" [max]="maxEcc" discrete="true">
            <input
                matSliderThumb
                name="eccentricity-slider"
                id="eccentricity-slider"
                [(ngModel)]="satellite.orbit!.eccentricity"
                (ngModelChange)="changeEccentricity()"
                #eccentricitySlider="ngModel"
            />
        </mat-slider>

        <!-- <div class="cols-2"> -->
        <!-- inclination -->
        <div class="label-container">
            <label class="label" for="inclination-slider">Inclination (i)</label>
            <span class="label-value" id="inclination-value">{{ satellite.orbit!.inclination }}°</span>
        </div>
        <mat-slider class="slider" step="1" min="0" max="180" discrete="true">
            <input
                matSliderThumb
                name="inclination-slider"
                id="inclination-slider"
                [(ngModel)]="satellite.orbit!.inclination"
                (ngModelChange)="changeAngle()"
                #inclinationSlider="ngModel"
            />
        </mat-slider>

        <!-- </div> -->
        <!-- <div class="cols-2"> -->
        <!-- longitude (RA) -->
        <div class="label-container">
            <label class="label" for="inclination-slider">Longitude of ascending node (Ω)</label>
            <span class="label-value" id="inclination-value">{{ satellite.orbit!.longitudeOfAscendingNode }}°</span>
        </div>
        <mat-slider
            id="mat-longitude-slider"
            class="slider"
            step="1"
            min="0"
            max="360"
            discrete="true"
            [disabled]="satellite.orbit!.inclination == 0"
        >
            <input
                matSliderThumb
                name="longitude-slider"
                id="longitude-slider"
                [(ngModel)]="satellite.orbit!.longitudeOfAscendingNode"
                (ngModelChange)="changeAngle()"
                #longitudeSlider="ngModel"
            />
        </mat-slider>

        <!-- argumentOfPerigee -->
        <div class="label-container">
            <label
                *ngIf="satellite.orbit!.inclination == 0 && satellite.orbit!.eccentricity == 0"
                class="label"
                for="perigee-slider"
                >True longitude (l)</label
            >
            <label
                *ngIf="satellite.orbit!.inclination != 0 && satellite.orbit!.eccentricity == 0"
                class="label"
                for="perigee-slider"
                >Argument of latitude (u)</label
            >
            <label *ngIf="satellite.orbit!.eccentricity != 0" class="label" for="perigee-slider"
                >Argument of perigee (ω)</label
            >
            <span class="label-value" id="perigee-value">{{ satellite.orbit!.argumentOfPerigee }}°</span>
        </div>
        <mat-slider class="slider" step="1" min="0" max="360" discrete="true">
            <input
                matSliderThumb
                name="perigee-slider"
                id="perigee-slider"
                [(ngModel)]="satellite.orbit!.argumentOfPerigee"
                (ngModelChange)="changeAngle()"
                #perigeeSlider="ngModel"
            />
        </mat-slider>
        <mat-form-field appearance="fill" class="between-sliders">
            <mat-label for="launch-date">Date time at zero</mat-label>
            <input
                matInput
                type="datetime-local"
                name="launch-date"
                id="launch-date"
                class="form-control"
                [ngModel]="satellite.orbit!.dateTimeOfLaunch | date : 'yyyy-MM-ddTHH:mm:ss'"
                (ngModelChange)="satellite.orbit!.dateTimeOfLaunch = dateChanged($event)"
                #dateAtPerigee="ngModel"
                required
                [ngClass]="{
                    'is-invalid': dateAtPerigee.invalid && dateAtPerigee.touched
                }"
            />
        </mat-form-field>
    </div>

    <!-- Submit and Cancel buttons -->
    <div class="buttons">
        <div class="">
            <button
                mat-flat-button
                color="primary"
                type="submit"
                class="btn btn-primary"
                [disabled]="!orbitEditForm.valid"
            >
                Submit
            </button>
            <button mat-flat-button class="btn btn-warning" (click)="backClicked()">Cancel</button>
        </div>
    </div>
</form>
