.edit-container {
    max-width: 600px;
    text-align: center;
    margin: 15vh auto;
    height: 100%;
    padding: 50px 50px;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 4px;
}
