<div class="edit-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="form" novalidate>
        <div class="">
            <h1>Login</h1>
            <div *ngIf="error" style="color: #f44336">
                <p>{{ error }}</p>
            </div>
            <div class="cols-2">
                <!-- username -->
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label for="username">Username</mat-label>
                    <input
                        matInput
                        type="text"
                        name="username"
                        class="form-control"
                        formControlName="username"
                        minlength="3"
                        required
                        [ngClass]="{
                            'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched
                        }"
                    />
                    <mat-error
                        *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                        class="invalid-feedback"
                    >
                        <ng-container *ngIf="loginForm.get('username')?.hasError('required')"
                            >Username is required</ng-container
                        >
                        <ng-container *ngIf="loginForm.get('username')?.hasError('minlength')"
                            >Username must be at least 3 chars long.</ng-container
                        >
                    </mat-error>
                </mat-form-field>

                <!-- password -->
                <mat-form-field class="form-group password" appearance="fill">
                    <mat-label for="password">Password</mat-label>
                    <input
                        matInput
                        type="password"
                        name="password"
                        class="form-control"
                        formControlName="password"
                        password
                        required
                        [ngClass]="{
                            'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched
                        }"
                    />
                    <mat-error
                        *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                        class="invalid-feedback"
                    >
                        <ng-container *ngIf="loginForm.get('password')?.hasError('required')"
                            >Password is required</ng-container
                        >
                        <ng-container *ngIf="loginForm.get('password')?.hasError('minlength')"
                            >Password must be at least 3 chars long</ng-container
                        >
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Login and register buttons -->
            <div style="display: flex; justify-content: space-between">
                <button
                    mat-flat-button
                    color="primary"
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!loginForm.valid"
                >
                    Login
                </button>
                <p style="align-self: center; margin: auto 0">
                    No account yet? <a routerLink="/register">Register instead</a>
                </p>
            </div>
        </div>
    </form>
</div>
