.side-bar-container {
    padding: 0px;
    width: 100%;
}

.side-bar-content-item {
    padding: 10px 20px;
    cursor: pointer;
}

.active {
    color: #fff;
}

div:has(> a.active) {
    background-color: #303030;
    color: #fff;
}
