<app-navbar></app-navbar>
<div *ngIf="user" id="breadcrumbs">
    <app-breadcrumbs></app-breadcrumbs>
</div>
<div
    [ngClass]="{
        'page-content-with-dashboard': user && !hideSidebar('about') && !hideSidebar('orbit-simulation'),
        'page-content': !user || hideSidebar('about') || hideSidebar('orbit-simulation')
    }"
>
    <div id="sidebar-wrapper" *ngIf="user && !hideSidebar('about') && !hideSidebar('orbit-simulation')">
        <app-sidebar></app-sidebar>
    </div>
    <div class="page-content-inner">
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>
