<div class="edit-container">
    <div *ngIf="componentExists && satellite">
        <h1>Editing '{{ satellite.satelliteName }}' created by {{ username }}</h1>
    </div>
    <div *ngIf="!componentExists">
        <h1>Creating new satellite for {{ username }}</h1>
    </div>

    <!-- Edit form for satellite model -->

    <form #satelliteEditForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
        <div id="satellite-info">
            <!-- name -->
            <mat-form-field class="form-group" appearance="fill">
                <mat-label for="name">Name</mat-label>
                <input
                    matInput
                    type="text"
                    name="username"
                    class="form-control"
                    [(ngModel)]="satellite!.satelliteName"
                    #name="ngModel"
                    minlength="1"
                    required
                    [ngClass]="{
                        'is-invalid': name.invalid && name.touched
                    }"
                />
                <mat-error *ngIf="name.invalid && name.touched" class="invalid-feedback">
                    <mat-error *ngIf="name.errors!['required']">Name is required</mat-error>
                    <mat-error *ngIf="name.errors!['minlength']">Username must be at least 1 character long.</mat-error>
                </mat-error>
            </mat-form-field>

            <!-- purpose -->
            <mat-form-field class="form-group" appearance="fill">
                <mat-label for="purpose">Purpose</mat-label>
                <input
                    matInput
                    type="text"
                    name="purpose"
                    class="form-control"
                    [(ngModel)]="satellite!.purpose"
                    #purpose="ngModel"
                    required
                    [ngClass]="{
                        'is-invalid': purpose.invalid && purpose.touched
                    }"
                />
                <mat-error *ngIf="purpose.invalid && purpose.touched" class="invalid-feedback">
                    <mat-error *ngIf="purpose.errors!['required']">Purpose is required</mat-error>
                </mat-error>
            </mat-form-field>

            <div class="cols-3">
                <!-- mass -->
                <mat-form-field class="form-group mass" appearance="fill">
                    <mat-label for="mass">Mass</mat-label>
                    <input
                        matInput
                        type="text"
                        name="mass"
                        class="form-control"
                        [(ngModel)]="satellite!.mass"
                        #mass="ngModel"
                        required
                        min="1"
                        [ngClass]="{
                            'is-invalid': mass.invalid && mass.touched
                        }"
                    />
                    <mat-error *ngIf="mass.invalid && mass.touched" class="invalid-feedback">
                        <mat-error *ngIf="mass.errors!['required']">Mass is required</mat-error>
                        <mat-error *ngIf="mass.errors!['min']">Mass must be at least 1 kg.</mat-error>
                    </mat-error>
                </mat-form-field>

                <!-- radiusOfBase -->
                <mat-form-field class="form-group radius" appearance="fill">
                    <mat-label for="radiusB">Radius of base</mat-label>
                    <input
                        matInput
                        type="text"
                        name="radiusB"
                        class="form-control"
                        [(ngModel)]="satellite!.sizeOfBase"
                        #radiusB="ngModel"
                        required
                        min="1"
                        [ngClass]="{
                            'is-invalid': radiusB.invalid && radiusB.touched
                        }"
                    />
                    <mat-error *ngIf="radiusB.invalid && radiusB.touched" class="invalid-feedback">
                        <ng-template *ngIf="radiusB.errors!['required']">Radius of base is required</ng-template>
                        <ng-template *ngIf="radiusB.errors!['min']">Radius of base must be at least 1 m.</ng-template>
                    </mat-error>
                </mat-form-field>

                <!-- colorOfBase -->
                <mat-form-field class="form-group color" appearance="fill">
                    <mat-label for="colorB">Color of base</mat-label>
                    <input
                        matInput
                        type="color"
                        name="colorB"
                        class="form-control"
                        [(ngModel)]="satellite!.colorOfBase"
                        #colorB="ngModel"
                        (ngModelChange)="changeColorSatellite()"
                        [ngClass]="{
                            'is-invalid': colorB.invalid && colorB.touched
                        }"
                    />
                    <mat-error *ngIf="colorB.invalid && colorB.touched" class="invalid-feedback"> </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div
            *ngIf="satellite.orbit"
            id="orbit-info"
            style="display: flex; justify-content: space-between; min-height: 520px"
        >
            <div style="width: 39%">
                <section style="margin-bottom: 10px">
                    <div style="float: left; width: 260px; margin-top: 4px">
                        <mat-checkbox [(ngModel)]="scene" name="scene" color="'accent'">Show orbit</mat-checkbox>
                        <mat-checkbox
                            [(ngModel)]="orbitService.guidelines"
                            name="guidelines"
                            (ngModelChange)="orbitService.toggleGuideLines()"
                            color="'accent'"
                            >Add guidelines</mat-checkbox
                        >
                    </div>
                    <div style="margin-left: 270px; display: flex; justify-content: end; gap: 10px">
                        <mat-label for="mat-zoom-slider" style="align-self: center">Zoom</mat-label>
                        <mat-slider
                            class="slider"
                            id="mat-zoom-slider"
                            step="0.02"
                            min="0.5"
                            max="1.5"
                            discrete="true"
                            style="max-width: 60%"
                        >
                            <input
                                matSliderThumb
                                name="zoom-slider"
                                id="zoom-slider"
                                [(ngModel)]="orbitService.zoom"
                                (ngModelChange)="orbitService.changeZoom(satellite.orbit)"
                                #eccentricitySlider="ngModel"
                            />
                        </mat-slider>
                    </div>
                </section>
                <!-- semi major axis -->
                <div class="cols-2">
                    <mat-form-field class="form-group orbit slider" appearance="fill">
                        <mat-label for="semimajoraxis">Semimajor axis (a) in km</mat-label>
                        <input
                            matInput
                            type="number"
                            name="semimajoraxis"
                            id="semimajoraxis"
                            class="form-control"
                            [(ngModel)]="satellite.orbit.semiMajorAxis"
                            #semiMajorAxis="ngModel"
                            (ngModelChange)="changeSemimajorAxis()"
                            required
                            step="100"
                            [ngClass]="{
                                'is-invalid': semiMajorAxis.invalid && semiMajorAxis.touched
                            }"
                        />
                        <mat-error
                            class="invalid-feedback"
                            *ngIf="semiMajorAxis.invalid && semiMajorAxis.touched && semiMajorAxis.errors!['required']"
                            >Semimajor axis is required</mat-error
                        >
                    </mat-form-field>
                    <!-- period -->
                    <mat-form-field class="form-group orbit input-after-slider" appearance="fill">
                        <mat-label for="period">Period (P) in days</mat-label>
                        <input
                            matInput
                            type="number"
                            name="period"
                            class="form-control"
                            [(ngModel)]="satellite!.orbit.period"
                            #period="ngModel"
                            required
                            disabled
                        />
                    </mat-form-field>
                </div>

                <!-- eccentricity -->
                <div class="label-container">
                    <label class="label" for="eccentricity-slider">Eccentricity (e)</label>
                    <span class="label-value" id="eccentricity-value">{{ satellite.orbit.eccentricity }}</span>
                </div>
                <mat-slider class="slider" id="mat-eccentricity-slider" step="0.01" min="0" max="1" discrete="true">
                    <input
                        matSliderThumb
                        name="eccentricity-slider"
                        id="eccentricity-slider"
                        [(ngModel)]="satellite.orbit.eccentricity"
                        (ngModelChange)="changeEccentricity()"
                        #eccentricitySlider="ngModel"
                    />
                </mat-slider>

                <!-- <div class="cols-2"> -->
                <!-- inclination -->
                <div class="label-container">
                    <label class="label" for="inclination-slider">Inclination (i)</label>
                    <span class="label-value" id="inclination-value">{{ satellite.orbit.inclination }}</span>
                </div>
                <mat-slider class="slider" step="2" min="0" max="180" discrete="true">
                    <input
                        matSliderThumb
                        name="inclination-slider"
                        id="inclination-slider"
                        [(ngModel)]="satellite.orbit.inclination"
                        (ngModelChange)="changeInclination()"
                        #inclinationSlider="ngModel"
                    />
                </mat-slider>

                <!-- </div> -->
                <!-- <div class="cols-2"> -->
                <!-- longitude (RA) -->
                <div class="label-container">
                    <label class="label" for="inclination-slider">Longitude of ascending node (Ω)</label>
                    <span class="label-value" id="inclination-value">{{
                        satellite.orbit.longitudeOfAscendingNode
                    }}</span>
                </div>
                <mat-slider class="slider" step="2" min="0" max="360" discrete="true">
                    <input
                        matSliderThumb
                        name="longitude-slider"
                        id="longitude-slider"
                        [(ngModel)]="satellite.orbit.longitudeOfAscendingNode"
                        (ngModelChange)="changeAngle()"
                        #longitudeSlider="ngModel"
                    />
                </mat-slider>

                <!-- argumentOfPerigee -->
                <div class="label-container">
                    <label class="label" for="inclination-slider">Argument of perigee (ω)</label>
                    <span class="label-value" id="inclination-value">{{
                        satellite.orbit.longitudeOfAscendingNode
                    }}</span>
                </div>
                <mat-slider class="slider" step="2" min="0" max="360" discrete="true">
                    <input
                        matSliderThumb
                        name="perigee-slider"
                        id="perigee-slider"
                        [(ngModel)]="satellite.orbit.argumentOfPerigee"
                        (ngModelChange)="changeAngle()"
                        #perigeeSlider="ngModel"
                    />
                </mat-slider>
                <mat-form-field appearance="fill">
                    <mat-label for="launch-date">Date time at perigee</mat-label>
                    <input
                        matInput
                        type="datetime-local"
                        name="launch-date"
                        id="launch-date"
                        class="form-control"
                        [(ngModel)]="satellite.orbit.dateTimeOfPerigeePassage"
                        #dateAtPerigee="ngModel"
                        required
                        [ngClass]="{
                            'is-invalid': dateAtPerigee.invalid && dateAtPerigee.touched
                        }"
                    />
                </mat-form-field>
            </div>
            <div id="canvas-wrapper" style="width: 59%"><canvas></canvas></div>
        </div>

        <!-- Submit en Cancel buttons -->
        <div class="buttons">
            <div class="">
                <button
                    mat-flat-button
                    color="primary"
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!satelliteEditForm.valid"
                >
                    Submit
                </button>
                <button mat-flat-button class="btn btn-warning" (click)="backClicked()">Cancel</button>
            </div>
        </div>
    </form>
</div>
