<div class="edit-container">
    <div *ngIf="componentExists && satellite">
        <h1>Editing '{{ satellite.satelliteName }}' created by {{ username }}</h1>
    </div>
    <div *ngIf="!componentExists">
        <h1>Creating new satellite for {{ username }}</h1>
    </div>
    <mat-divider style="margin-top: -10px; margin-bottom: 10px"></mat-divider>

    <!-- Edit form for satellite model -->

    <form #satelliteEditForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="cols-2-form">
            <div id="satellite-info">
                <h2>Information</h2>
                <!-- name -->
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label for="name">Name</mat-label>
                    <input
                        matInput
                        type="text"
                        name="name"
                        id="name"
                        class="form-control"
                        [(ngModel)]="satellite!.satelliteName"
                        #name="ngModel"
                        minlength="1"
                        required
                        [ngClass]="{
                            'is-invalid': name.invalid && name.touched
                        }"
                    />
                    <mat-error *ngIf="name.invalid && name.touched" class="invalid-feedback">
                        <mat-error *ngIf="name.errors!['required']">Name is required</mat-error>
                        <mat-error *ngIf="name.errors!['minlength']"
                            >Username must be at least 1 character long.</mat-error
                        >
                    </mat-error>
                </mat-form-field>

                <!-- purpose -->
                <div style="display: flex; justify-content: space-between">
                    <mat-form-field appearance="fill" style="width: 81%">
                        <mat-label for="purpose">Purpose</mat-label>
                        <mat-select name="purpose" [(ngModel)]="satellite!.purpose" #purpose="ngModel" required>
                            <mat-option *ngFor="let purpose of purposes" [value]="purpose">{{ purpose }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button
                        type="button"
                        style="width: 10%; height: 100%; padding: 20px 8px"
                        mat-button
                        (click)="openPurposeDialog()"
                        #tooltip="matTooltip"
                        matTooltip="Add new purpose"
                    >
                        <mat-icon style="margin: auto">add</mat-icon>
                    </button>
                </div>

                <!-- name -->
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label for="description">Description</mat-label>
                    <textarea
                        matInput
                        type="text"
                        name="description"
                        id="description"
                        class="form-control"
                        [(ngModel)]="satellite!.description"
                        #description="ngModel"
                        [ngClass]="{
                            'is-invalid': description.invalid && description.touched
                        }"
                    ></textarea>
                </mat-form-field>

                <mat-divider style="margin-bottom: 10px"></mat-divider>
                <h2>Appearance</h2>

                <div class="cols-2">
                    <!-- shape of base -->
                    <mat-form-field class="form-group" appearance="fill">
                        <mat-label for="shape">Shape of base</mat-label>
                        <mat-select name="shape" [(ngModel)]="satellite!.shapeOfBase" #shape="ngModel" required>
                            <mat-option *ngFor="let shape of shapes" [value]="shape">{{ shape }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- size of base -->
                    <mat-form-field class="form-group radius" appearance="fill">
                        <mat-label *ngIf="satellite.shapeOfBase == 'Cube'" for="sizeOfBase"
                            >Length of edge (m)</mat-label
                        >
                        <mat-label *ngIf="satellite.shapeOfBase == 'Sphere'" for="sizeOfBase"
                            >Diameter of base (m)</mat-label
                        >
                        <input
                            matInput
                            type="number"
                            name="sizeOfBase"
                            class="form-control"
                            [(ngModel)]="satellite!.sizeOfBase"
                            #sizeOfBase="ngModel"
                            required
                            min="2"
                            [ngClass]="{
                                'is-invalid': sizeOfBase.invalid && sizeOfBase.touched
                            }"
                        />
                        <mat-error *ngIf="sizeOfBase.invalid && sizeOfBase.touched && sizeOfBase.errors!['required']"
                            >Size of base is required</mat-error
                        >
                        <mat-error
                            *ngIf="
                                sizeOfBase.invalid &&
                                sizeOfBase.touched &&
                                !sizeOfBase.errors!['required'] &&
                                sizeOfBase.errors!['min']
                            "
                            >Size of base must be at least 2 m.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="cols-2">
                    <!-- mass -->
                    <mat-form-field class="form-group mass" appearance="fill">
                        <mat-label for="mass">Mass (kg)</mat-label>
                        <input
                            matInput
                            type="number"
                            name="mass"
                            class="form-control"
                            [(ngModel)]="satellite!.mass"
                            #mass="ngModel"
                            required
                            min="1"
                            [ngClass]="{
                                'is-invalid': mass.invalid && mass.touched
                            }"
                        />
                        <mat-error *ngIf="mass.invalid && mass.touched && mass.errors!['required']"
                            >Mass is required</mat-error
                        >
                        <mat-error
                            *ngIf="mass.invalid && mass.touched && !mass.errors!['required'] && mass.errors!['min']"
                            >Mass must be at least 1 kg.</mat-error
                        >
                    </mat-form-field>

                    <!-- colorOfBase -->
                    <mat-form-field class="form-group color" appearance="fill">
                        <mat-label for="colorB">Color of base</mat-label>
                        <input
                            matInput
                            type="color"
                            name="colorB"
                            value="#000000"
                            class="form-control"
                            [(ngModel)]="satellite!.colorOfBase"
                            #colorB="ngModel"
                            (ngModelChange)="changeColorSatellite()"
                            [ngClass]="{
                                'is-invalid': colorB.invalid && colorB.touched
                            }"
                        />
                    </mat-form-field>
                </div>
            </div>

            <div id="satellite-parts">
                <mat-divider style="margin-bottom: 10px"></mat-divider>
                <h2>
                    Satellite parts
                    <button
                        type="button"
                        mat-raised-button
                        (click)="openAddPartDialog()"
                        [disabled]="!allSatelliteParts || allSatelliteParts.length == 0"
                        style="margin-left: 10px"
                    >
                        <mat-icon>add</mat-icon> Add part
                    </button>
                </h2>

                <div *ngIf="satellitePartError" class="alert alert-danger" role="alert">
                    {{ satellitePartError }}
                </div>
                <mat-table
                    #table
                    [dataSource]="satellite.satelliteParts!"
                    cdkDropList
                    (cdkDropListDropped)="drop($event)"
                    class="mat-elevation-z8"
                    [cdkDropListDisabled]="dragDisabled"
                >
                    <!-- Position Column -->
                    <ng-container matColumnDef="position" sticky>
                        <mat-header-cell *matHeaderCellDef>Order</mat-header-cell>
                        <mat-cell *matCellDef="let customPart">
                            <mat-icon class="dragCursor" (mousedown)="dragDisabled = false">reorder</mat-icon>
                        </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let customPart">{{ customPart.satellitePart.partName }}</mat-cell>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="color">
                        <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
                        <mat-cell *matCellDef="let customPart">
                            <div style="width: 100%">
                                <p
                                    style="
                                        width: 100%;
                                        height: 100%;
                                        text-align: center;
                                        border-radius: 5px;
                                        padding: 5px;
                                        align-self: center;
                                        margin: 0;
                                    "
                                    [style.background]="customPart.color"
                                    [style.color]="getContrastYIQ(customPart.color)"
                                >
                                    {{ customPart.color }}
                                </p>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <!-- Size Column -->
                    <ng-container matColumnDef="size">
                        <mat-header-cell *matHeaderCellDef>Size (m)</mat-header-cell>
                        <mat-cell *matCellDef="let customPart">
                            {{ customPart.size }}
                        </mat-cell>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                        <mat-cell *matCellDef="let customPart">
                            {{ customPart.quantity }}
                        </mat-cell>
                    </ng-container>

                    <!-- actions column -->
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="edit icon" layout-align="center center" *matCellDef="let customPart">
                            <button mat-button color="warn" (click)="removePart(customPart)" type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="customPartTableColumns; sticky: true"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: customPartTableColumns"
                        cdkDrag
                        [cdkDragData]="row"
                    ></mat-row>
                </mat-table>
                <div *ngIf="!satellite.satelliteParts || satellite.satelliteParts.length == 0" style="margin-top: 10px">
                    <p>This satellite does not have any parts</p>
                </div>
                <mat-divider style="margin-top: 20px"></mat-divider>
            </div>
        </div>

        <!-- Submit and Cancel buttons -->
        <div class="buttons">
            <div class="">
                <button mat-flat-button class="btn btn-warning" (click)="backClicked()">Cancel</button>
                <button
                    mat-flat-button
                    color="primary"
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!satelliteEditForm.valid"
                >
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
