.edit-container {
    text-align: center;
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

form {
    width: 100%;
}

#satellite-info {
    min-width: 150px;
    width: 100%;
    margin: auto;
}

#satellite-parts {
    width: 100%;
    margin: auto;
    max-height: 416px;
    overflow: auto;
    margin-bottom: 22px;
}

mat-form-field {
    width: 100%;
}

.cols-3 {
    display: flex;
    justify-content: space-between;
}

.cols-3 mat-form-field {
    width: 32%;
}

.cols-2 mat-form-field {
    width: 49%;
}

.buttons {
    max-width: 700px;
    margin: auto;
}

.buttons button {
    margin-inline: 1%;
}

.dragCursor {
    margin-right: 16px;
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: #303030;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-mdc-row:last-child {
    border: none;
}

.cdk-drop-list-dragging .mat-mdc-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-mdc-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1),
mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
    min-width: 80px;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4),
mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    min-width: 90px;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    min-width: 200px;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    min-width: 100px;
}

mat-cell,
mat-header-cell {
    box-sizing: border-box;
}

.alert {
    color: #f44336;
}
