<div class="component-container">
  <div class="row">
    <h3 id="aboutTitle">About this application</h3>
    <p>This application was made for the course 'Clientside web frameworks' at Avans Hogeschool Breda.</p>
    <h1>Satellite Tracker</h1>
    <p>
      Hier beschrijft je wat je project inhoudt. Beschrijf ook de entiteiten/domeinobjecten die je gebruikt, en benoem
      per entiteit de attributen met hun datatype.
    </p>
  </div>
  <mat-card>
    <mat-card-header>
      <img id="profile-pic" src="assets/images/person.png" class="" alt="..." />
      <!-- <mat-card-title>Card 1</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p class="card-title">Joy Boellaard</p>
      <p class="card-text">Studentnummer: 2182556</p>
    </mat-card-content>
  </mat-card>

  <h3>Entiteiten</h3>
  <p>
    Hier geef je een toelichting op je entiteiten. Voeg ook een afbeelding van je model toe zoals dat bij NoSql gevraagd
    wordt.
  </p>

  <img src="assets/images/erd.png" class="px-5 py-5" alt="..." style="max-width: 100%" />

  <div class="entities-wrapper">
    <div class="entities">
      <p>satellite</p>
      <ul>
        <li>id: string</li>
        <li>name: string</li>
        <li>mass: number</li>
        <li>radiusOfBase: number</li>
        <li>colourOfBase: string</li>
        <li>radiusOfParts: number</li>
        <li>purpose: string</li>
        <li>satelliteParts: satellitePart[]</li>
        <li>orbit: orbit</li>
        <li>launch: launch</li>
        <li>createdAt: date</li>
        <li>updatedAt: date</li>
      </ul>
    </div>
    <div class="entities">
      <p>satellitePart</p>
      <ul>
        <li>id: string</li>
        <li>name: string</li>
        <li>function: string</li>
        <li>material: string</li>
        <li>colour: string</li>
        <li>amount: number</li>
        <li>createdAt: date</li>
        <li>updatedAt: date</li>
      </ul>
    </div>
    <div class="entities">
      <p>orbit</p>
      <ul>
        <li>id: string</li>
        <li>type: string</li>
        <li>inclination: number</li>
        <li>semiMajorAxis: number</li>
        <li>period: number</li>
        <li>eccentricity: number</li>
        <li>createdAt: date</li>
        <li>updatedAt: date</li>
      </ul>
    </div>
  </div>

  <div class="entities-wrapper">
    <div class="entities" cols="3">
      <p>launch</p>
      <ul>
        <li>id: string</li>
        <li>launchDate: date</li>
        <li>launchSite: location</li>
        <li>succeeded: boolean</li>
        <li>createdAt: date</li>
        <li>updatedAt: date</li>
      </ul>
    </div>
    <div class="entities">
      <p>user</p>
      <ul>
        <li>id: string</li>
        <li>userName: string</li>
        <li>email: string</li>
        <li>password: string</li>
        <li>location: location</li>
        <li>createdAt: date</li>
        <li>updatedAt: date</li>
      </ul>
    </div>
    <div class="entities">
      <p>location</p>
      <ul>
        <li>type: string</li>
        <li>coordinates: number[]</li>
      </ul>
    </div>
  </div>

  <h3>User stories</h3>
  <table mat-table [dataSource]="dataSourceUserStories" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="No.">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.no }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="User story">
      <th mat-header-cell *matHeaderCellDef>User story</th>
      <td mat-cell *matCellDef="let element">{{ element.story }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Clarification">
      <th mat-header-cell *matHeaderCellDef>Clarification</th>
      <td mat-cell *matCellDef="let element">{{ element.clarification }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="userStoryColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: userStoryColumns"></tr>
  </table>
</div>
<!-- </div> -->
