.component-container {
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .buttons {
    justify-self: end;
    display: flex;
    align-items: flex-end;
}

.buttons button {
    align-self: flex-start;
}

.primary-button {
    color: #7986cb;
}

.circle,
.square {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 1px solid white;
}

.circle {
    border-radius: 50%;
}

#orbit-wrapper,
#parts-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#orbit-info,
#part-info {
    flex: 0 0 300px;
    margin-left: 10px;
}

#table-wrapper,
#canvas-wrapper {
    flex: 1;
}

@media only screen and (max-width: 1280px) {
    #orbit-wrapper,
    #parts-wrapper {
        flex-direction: column;
    }

    #table-wrapper {
        margin-bottom: 10px;
    }

    #orbit-info {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    #orbit-info #info-wrapper {
        min-width: 300px;
    }

    #orbit-info-divider {
        display: none;
    }

    #orbit-info,
    #part-info {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 860px) {
    #orbit-info,
    #orbit-info-divider {
        display: block;
    }
}

#part-info {
    max-height: 400px;
    overflow: auto;
}

#canvas-wrapper canvas {
    width: 100%;
    min-height: 490px;
}

table tr.table-row {
    cursor: pointer;
}

.slider {
    flex: 1;
}

#zoom-slider-wrapper {
    display: flex;
    align-items: center;
}

#checkbox-wrapper {
    margin-left: -10px;
    display: flex;
}

#checkbox-wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-label {
    font-weight: 500;
}

.selected {
    background-color: #505050;
}

@media only screen and (max-width: 930px) {
    #orbit-wrapper,
    #canvas-wrapper,
    #parts-wrapper {
        min-height: 10px;
        max-width: 100%;
    }

    #canvas-wrapper canvas {
        min-height: 10px;
        width: 100%;
    }

    #parts-wrapper #table-wrapper {
        width: 100%;
        overflow: auto;
    }

    .button-text {
        display: none;
    }

    .buttons button mat-icon {
        margin-inline: 0px;
    }
}

@media only screen and (min-width: 930px) {
    mat-cell:nth-child(1),
    mat-header-cell:nth-child(1) {
        min-width: 50px;
    }

    mat-cell:nth-child(4),
    mat-header-cell:nth-child(4),
    mat-cell:nth-child(5),
    mat-header-cell:nth-child(5) {
        min-width: 90px;
    }

    mat-cell:nth-child(2),
    mat-header-cell:nth-child(2) {
        min-width: 250px;
    }

    mat-cell:nth-child(3),
    mat-header-cell:nth-child(3) {
        min-width: 100px;
    }
}

mat-row {
    cursor: pointer;
}

#trackers-wrapper {
    h2 {
        margin-bottom: 30px;
        display: flex;
    }

    h2 a {
        display: flex;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #424242;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .back-button a:hover mat-icon {
        color: #8b99e4;
    }

    mat-icon {
        margin-right: 10px;
        align-self: center;
    }

    h3 {
        display: flex;
        font-size: 15px;
        margin-bottom: 6px;
    }

    .button-container {
        display: flex;
        gap: 6px;
    }
}
