<div class="component-container" *ngIf="satellite; else loadingMessage">
    <div class="header">
        <h1 style="margin-bottom: 0">
            {{ satellite.satelliteName }}
        </h1>
        <div class="buttons">
            <button
                *ngIf="router.url.includes('trackers')"
                routerLink="info"
                mat-icon-button
                color="accent"
                style="width: 38px; height: 38px; padding: 7px; margin-left: 10px"
                #tooltip="matTooltip"
                matTooltip="Info"
            >
                <mat-icon>satellite_alt</mat-icon>
            </button>
            <button
                *ngIf="router.url.includes('info')"
                routerLink="trackers"
                mat-icon-button
                color="accent"
                style="width: 38px; height: 38px; padding: 7px; margin-left: 10px"
                #tooltip="matTooltip"
                matTooltip="Trackers"
            >
                <mat-icon>radar</mat-icon>
            </button>
            <div *ngIf="loggedInUser">
                <button *ngIf="isTracking()" mat-stroked-button (click)="untrack()">Untrack</button>
                <button *ngIf="!isTracking()" mat-stroked-button (click)="track()">Track</button>
                <button *ngIf="canEdit" mat-stroked-button color="primary" class="primary-button" routerLink="edit">
                    <mat-icon>edit</mat-icon><span class="button-text">Edit</span>
                </button>
                <button *ngIf="canEdit" mat-stroked-button color="warn" (click)="removeSatellite()">
                    <mat-icon>delete</mat-icon> <span class="button-text">Remove</span>
                </button>
            </div>
        </div>
    </div>
    <div class="text-muted">
        <p style="width: 100%; display: flex; justify-content: space-between">
            <span>{{ satellite.description }}</span>
        </p>
    </div>
    <div [ngStyle]="{ visibility: waiting ? 'visible' : 'hidden' }">
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-divider style="margin-bottom: 10px"></mat-divider>

    <router-outlet></router-outlet>
</div>
<ng-template #loadingMessage>
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    <div style="padding: 20px">Retrieving satellite...</div></ng-template
>
