<div class="component-container" *ngIf="satellite; else loadingMessage">
    <div class="header">
        <h1>{{ satellite.satelliteName }} created by {{ username }}</h1>
        <div *ngIf="canEdit" class="buttons">
            <button mat-flat-button class="muted-button" routerLink="edit"><mat-icon>edit</mat-icon> Edit</button>
            <button mat-flat-button color="warn" (click)="removeSatellite(satellite!.id)">
                <mat-icon>delete</mat-icon> Remove
            </button>
        </div>
    </div>
    <div class="text-muted">
        <p>
            Created on:
            {{ satellite.createdAt | date : 'dd/MM/yyyy' }}
        </p>
        <p>
            Last updated:
            {{ satellite.updatedAt | date : 'dd/MM/yyyy' }}
        </p>
    </div>
    <br />

    <p>This satellite has a mass of {{ satellite.mass }} kg, a base radius of {{ satellite.sizeOfBase }} meters.</p>

    <div>
        <p>Color of the base:</p>
        <span class="circle" [ngStyle]="{ 'background-color': satellite.colorOfBase }"></span>
    </div>
    <br />
    <p>{{ satellite.orbit ? 'This satellite has an orbit' : 'This satellite does not have an orbit yet.' }}</p>
    <div *ngIf="satellite.orbit">
        <div *ngIf="canEdit" class="buttons">
            <button mat-flat-button class="muted-button" routerLink="orbit">
                <mat-icon>edit</mat-icon> Edit orbit
            </button>
            <button mat-flat-button color="warn" (click)="removeOrbit(satellite!.id)">
                <mat-icon>delete</mat-icon> Remove orbit
            </button>
        </div>
    </div>
    <div *ngIf="!satellite.orbit">
        <div *ngIf="canEdit" class="buttons">
            <button mat-flat-button class="muted-button" routerLink="orbit"><mat-icon>add</mat-icon> Add orbit</button>
        </div>
    </div>
    <br />
    <div id="canvas-wrapper" style="width: 100%"><canvas style="width: 100%"></canvas></div>
</div>

<ng-template #loadingMessage><div>Loading Data Service ...</div></ng-template>
