.header {
    display: flex;
    justify-content: space-between;
}

.header .buttons {
    justify-self: end;
}

.buttons button {
    margin-left: 10px;
}

.circle,
.square {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 1px solid white;
}

.circle {
    border-radius: 50%;
}

#orbit-wrapper,
#parts-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#orbit-info,
#part-info {
    flex: 0 0 300px;
    margin-left: 10px;
}

#table-wrapper,
#canvas-wrapper {
    flex: 1;
}

@media only screen and (max-width: 1280px) {
    #orbit-wrapper,
    #parts-wrapper {
        flex-direction: column;
    }

    #table-wrapper {
        margin-bottom: 10px;
    }

    #orbit-info {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    #orbit-info #info-wrapper {
        min-width: 300px;
    }

    #orbit-info-divider {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    #orbit-info,
    #orbit-info-divider {
        display: block;
    }
}

#part-info {
    max-height: 400px;
    overflow: auto;
}

#canvas-wrapper canvas {
    width: 100%;
    min-height: 481px;
}

table tr.table-row {
    cursor: pointer;
}

.slider {
    flex: 1;
}

#zoom-slider-wrapper {
    display: flex;
    align-items: center;
}

#checkbox-wrapper {
    margin-left: -10px;
    display: flex;
}

#checkbox-wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-label {
    font-weight: 500;
}

.selected {
    background-color: #505050;
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    min-width: 50px;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4),
mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    min-width: 90px;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    min-width: 250px;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    min-width: 100px;
}
