<div class="component-container" *ngIf="satellite; else loadingMessage">
    <div *ngIf="waiting"><mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar></div>
    <div class="header">
        <h1 style="margin-bottom: 0">
            {{ satellite.satelliteName }}
        </h1>
        <div class="buttons">
            <button
                routerLink="trackers"
                mat-icon-button
                color="accent"
                style="width: 38px; height: 38px; padding: 7px; margin-left: 10px"
            >
                <mat-icon>radar</mat-icon>
            </button>
            <button *ngIf="isTracking()" mat-stroked-button (click)="untrack()">Untrack</button>
            <button *ngIf="!isTracking()" mat-stroked-button (click)="track()">Track</button>
            <button *ngIf="canEdit" mat-stroked-button color="primary" class="primary-button" routerLink="edit">
                <mat-icon>edit</mat-icon><span class="button-text">Edit</span>
            </button>
            <button *ngIf="canEdit" mat-stroked-button color="warn" (click)="removeSatellite()">
                <mat-icon>delete</mat-icon> <span class="button-text">Remove</span>
            </button>
        </div>
    </div>
    <div class="text-muted">
        <p style="width: 100%; display: flex; justify-content: space-between">
            <span>{{ satellite.description }}</span>
        </p>
    </div>
    <mat-divider style="margin: 10px 0px"></mat-divider>

    <h2>Information</h2>
    <div>
        <p>
            <span class="info-label"
                >Creator: <a [routerLink]="'/profile/' + username"> {{ username }}</a>
            </span>
        </p>
        <p><span class="info-label">Created at: </span>{{ satellite.createdAt | date : 'dd/MM/yyyy' }}</p>
        <p><span class="info-label">Last updated at: </span>{{ satellite.updatedAt | date : 'dd/MM/yyyy' }}</p>
        <p><span class="info-label">Purpose: </span>{{ satellite.purpose }}</p>
    </div>
    <mat-divider style="margin: 10px 0px"></mat-divider>
    <h2>Appearance</h2>
    <div style="display: flex; gap: 10px">
        <span
            class="circle"
            [ngClass]="{ circle: satellite.shapeOfBase == 'Sphere', square: satellite.shapeOfBase == 'Cube' }"
            [ngStyle]="{ 'background-color': satellite.colorOfBase }"
        ></span>

        <div>
            <p><span class="info-label">Mass: </span> {{ satellite.mass }} kg</p>
            <p *ngIf="satellite.shapeOfBase == 'Sphere'">
                <span class="info-label">Diameter of base: </span> {{ satellite.sizeOfBase }}
                {{ satellite.sizeOfBase == 1 ? 'meter' : 'meters' }}
            </p>
            <p *ngIf="satellite.shapeOfBase == 'Cube'">
                <span class="info-label">Length of sides: </span> {{ satellite.sizeOfBase }}
                {{ satellite.sizeOfBase == 1 ? 'meter' : 'meters' }}
            </p>
        </div>
    </div>
    <mat-divider style="margin: 10px 0px"></mat-divider>
    <div style="display: flex; justify-content: space-between">
        <h2>Orbit</h2>
        <div *ngIf="canEdit">
            <div *ngIf="satellite.orbit; else noOrbit" class="buttons">
                <button mat-stroked-button color="primary" class="primary-button" routerLink="orbit">
                    <mat-icon>edit</mat-icon> <span class="button-text">Edit orbit</span>
                </button>
                <button mat-stroked-button color="warn" (click)="removeOrbit()">
                    <mat-icon>delete</mat-icon> <span class="button-text">Remove orbit</span>
                </button>
            </div>
            <ng-template #noOrbit>
                <div class="buttons">
                    <button mat-stroked-button color="accent" routerLink="orbit">
                        <mat-icon>add</mat-icon> Add orbit
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
    <div *ngIf="!satellite.orbit; else orbitScene">
        <p>This satellite does not have an orbit yet.</p>
    </div>
    <ng-template #orbitScene>
        <div id="orbit-wrapper">
            <div id="canvas-wrapper">
                <canvas></canvas>
                <span class="text-muted"> Rotate using left mouse button, pan using right mouse button. </span>
            </div>
            <div id="orbit-info">
                <section id="info-wrapper">
                    <h3>Information</h3>
                    <p>
                        <span class="info-label">Semimajor axis (a):</span>
                        {{ satellite.orbit?.semiMajorAxis }} kilometers
                    </p>
                    <p>
                        <span class="info-label">Period (P):</span> {{ satellite.orbit?.period?.toFixed(3) }} days
                        {{
                            satellite.orbit?.period && satellite.orbit!.period! < 5
                                ? '(' + (satellite.orbit!.period! * 24 * 60).toFixed(0) + ' minutes)'
                                : ''
                        }}
                    </p>
                    <p><span class="info-label">Eccentricity (e):</span> {{ satellite.orbit?.eccentricity }}</p>
                    <p><span class="info-label">Inclination (i):</span> {{ satellite.orbit?.inclination }}&#176;</p>
                    <p>
                        <span class="info-label">Longitude of the ascending node (&#937;):</span>
                        {{ satellite.orbit?.longitudeOfAscendingNode }}&#176;
                    </p>
                    <p>
                        <span class="info-label">
                            {{
                                satellite.orbit!.inclination == 0 && satellite.orbit!.eccentricity == 0
                                    ? 'True longitude (l): '
                                    : satellite.orbit!.inclination != 0 && satellite.orbit!.eccentricity == 0
                                    ? 'Argument of latitude (u): '
                                    : 'Argument of perigee (ω): '
                            }}</span
                        >
                        {{ satellite.orbit?.argumentOfPerigee }}&#176;
                    </p>
                    <p>
                        <span class="info-label"> Datetime of perigee passage (T<sub>p</sub>): </span>
                        {{
                            satellite.orbit?.dateTimeOfLaunch
                                ? satellite.orbit!.dateTimeOfLaunch!.toLocaleString()
                                : 'N/A'
                        }}
                    </p>
                    <mat-divider id="orbit-info-divider" style="margin-bottom: 10px"></mat-divider>
                </section>
                <section id="options-wrapper" style="margin-bottom: 10px">
                    <h3>Canvas options</h3>
                    <div id="checkbox-wrapper">
                        <div>
                            <mat-checkbox
                                [(ngModel)]="orbitService.guidelines"
                                name="guidelines"
                                (ngModelChange)="orbitService.toggleGuideLines()"
                                color="'accent'"
                                >Add guidelines</mat-checkbox
                            >
                            <mat-checkbox
                                [(ngModel)]="orbitService.showOrbit"
                                name="showOrbit"
                                (ngModelChange)="orbitService.toggleOrbit()"
                                color="'accent'"
                                >Show orbit</mat-checkbox
                            >
                        </div>
                        <div>
                            <mat-checkbox
                                [(ngModel)]="orbitService.realColor"
                                name="realColorAndSize"
                                (ngModelChange)="orbitService.toggleColor()"
                                color="'accent'"
                                >Real color</mat-checkbox
                            >
                            <mat-checkbox
                                [(ngModel)]="orbitService.realSize"
                                name="realColorAndSize"
                                (ngModelChange)="orbitService.toggleSize()"
                                color="'accent'"
                                >Real size</mat-checkbox
                            >
                        </div>
                    </div>
                    <p class="text-muted">Try toggling the real size if the satellite is too small to be seen.</p>
                    <div id="zoom-slider-wrapper">
                        <mat-label for="mat-zoom-slider">Zoom</mat-label>
                        <mat-slider class="slider" id="mat-zoom-slider" step="0.02" min="0.4" max="3" discrete="true">
                            <input
                                matSliderThumb
                                name="zoom-slider"
                                id="zoom-slider"
                                [(ngModel)]="orbitService.zoom"
                                (ngModelChange)="orbitService.changeZoom(satellite.orbit!)"
                                #eccentricitySlider="ngModel"
                            />
                        </mat-slider>
                    </div>
                </section>
            </div>
        </div>
    </ng-template>
    <mat-divider style="margin: 10px 0px"></mat-divider>

    <h2>Satellite parts</h2>
    <div id="parts-wrapper">
        <div id="table-wrapper">
            <mat-table
                id="parts-table"
                [dataSource]="satellite.satelliteParts"
                class="mat-elevation-z8"
                *ngIf="satellite.satelliteParts && satellite.satelliteParts.length > 0; else noParts"
            >
                <caption style="display: none">
                    Satellite parts
                </caption>
                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef>Order</mat-header-cell>
                    <mat-cell *matCellDef="let part; let i = index">{{ i + 1 }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Part</mat-header-cell>
                    <mat-cell *matCellDef="let part">{{ part.satellitePart.partName }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="color">
                    <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
                    <mat-cell *matCellDef="let part">
                        <div style="width: 100%">
                            <p
                                style="
                                    width: 100%;
                                    height: 100%;
                                    text-align: center;
                                    border-radius: 5px;
                                    padding: 5px;
                                    align-self: center;
                                    margin: 0;
                                "
                                [style.background]="part.color"
                                [style.color]="getContrastYIQ(part.color)"
                            >
                                {{ part.color }}
                            </p>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="size">
                    <mat-header-cell *matHeaderCellDef>Size (m)</mat-header-cell>
                    <mat-cell *matCellDef="let part">{{ part.size }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                    <mat-cell *matCellDef="let part">{{ part.quantity }}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="customPartTableColumns; sticky: true"></mat-header-row>
                <mat-row
                    class="table-row"
                    *matRowDef="let row; columns: customPartTableColumns"
                    (click)="currentPart = row"
                    [ngClass]="{ selected: row == currentPart }"
                ></mat-row>
            </mat-table>
        </div>

        <div id="part-info" *ngIf="satellite.satelliteParts && satellite.satelliteParts.length > 0">
            <h3 style="margin-bottom: 0">{{ currentPart?.satellitePart?.partName }}</h3>
            <p class="text-muted">{{ currentPart?.satellitePart?.description }}</p>
            <p><span class="info-label">Function:</span> {{ currentPart?.satellitePart?.function }}</p>
            <p>
                <span class="info-label">Material:</span>
                {{ currentPart?.satellitePart?.material ? currentPart?.satellitePart?.material : 'Unknown' }}
            </p>
            <p><span class="info-label">Size:</span> {{ currentPart?.size }} meters</p>
            <p><span class="info-label">Color:</span> {{ currentPart?.color }}</p>
            <p><span class="info-label">Quantity:</span> {{ currentPart?.quantity }}</p>
            <div style="display: flex; gap: 5px">
                <ng-container *ngFor="let _ of [].constructor(currentPart?.quantity)">
                    <div
                        class="part"
                        [style.background]="currentPart?.color"
                        [style.width]="'3px'"
                        [style.height]="currentPart?.size + 'px'"
                        [style.border]="'1px solid #424242'"
                    ></div>
                </ng-container>
            </div>
        </div>
        <ng-template #noParts>
            <p>This satellite does not have any parts yet.</p>
        </ng-template>
    </div>
</div>
<ng-template #loadingMessage>
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    <div style="padding: 20px">Retrieving satellite...</div></ng-template
>
