.header {
    display: flex;
    justify-content: space-between;
}

.header .buttons {
    justify-self: end;
}

.buttons button {
    margin-left: 10px;
}

table {
    width: 100%;
}

// .component-container {
//   max-width: 800px;
//   margin: auto;
// }

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
}

.orbit-info {
    min-width: 300px;
    margin-left: 10px;
}

#canvas-wrapper {
    width: 100%;
    height: 100%;
    // height: 100%;
}

#canvas-wrapper canvas {
    width: 100%;
    min-height: 481px;
}

.slider {
    flex: 1;
}

#zoom-slider-wrapper {
    display: flex;
    align-items: center;
}

#checkbox-wrapper {
    margin-left: -10px;
    display: flex;
}

#checkbox-wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.orbit-info-label {
    font-weight: 500;
}
