<div
    [ngStyle]="{ visibility: !satellite || !trackers || waiting ? 'visible' : 'hidden' }"
    style="margin: -10px 0px 6px 0px"
>
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>
<div id="trackers-wrapper">
    <div class="back-button">
        <h2>
            <a routerLink=".." #tooltip="matTooltip" matTooltip="Back to info"> <mat-icon>arrow_back</mat-icon> </a>
            <span>Trackers</span>
        </h2>
    </div>
    <div *ngIf="satellite && trackers; else loadingMessage">
        <div *ngIf="trackers!.length > 0; else none">
            <div class="wrapper" *ngFor="let user of trackers">
                <div class="header">
                    <a [routerLink]="'/profile/' + user.username"
                        ><h3>
                            <mat-icon>person</mat-icon><span>{{ user.username }}</span>
                        </h3></a
                    >
                    <div class="button-container">
                        <button
                            *ngIf="following && user.username != loggedInUser?.username && !isFollowing(user.username)"
                            mat-stroked-button
                            (click)="follow(user.username)"
                        >
                            Follow
                        </button>
                        <button
                            *ngIf="user.username != loggedInUser?.username && isFollowing(user.username)"
                            mat-stroked-button
                            (click)="unfollow(user.username)"
                        >
                            Unfollow
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #none>
            <p>No one is tracking this satellite yet.</p>
        </ng-template>
    </div>
</div>
<ng-template #loadingMessage> <div style="padding: 20px">Getting trackers...</div></ng-template>
