<mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-button routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">User overview</button>
    <button mat-button routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</button>
    <button mat-button routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</button>
</mat-toolbar>
