<mat-toolbar color="primary" class="mat-elevation-z6 navbar">
    <div>
        <span
            mat-button
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="title"
            style="margin-right: 10px"
            ><mat-icon>location_on</mat-icon> Satellite Tracker</span
        >
    </div>
    <div *ngIf="user; else anonymous" style="display: flex">
        <button mat-icon-button routerLink="/feed/following" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon>timeline</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="beforeMenu" style="align-self: center">
            <mat-icon>person</mat-icon><mat-icon style="margin-right: 0">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <p style="margin: 8px 16px; padding-bottom: 4px">
                Logged in as <b style="font-weight: 500">{{ user.username }}</b>
            </p>
            <mat-divider></mat-divider>
            <button mat-menu-item>Profile</button>
            <button mat-menu-item (click)="logout()" ariaCurrentWhenActive="page">Logout</button>
        </mat-menu>
    </div>
    <ng-template #anonymous
        ><div>
            <button mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</button>
            <button mat-button routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
                Register
            </button>
        </div></ng-template
    >
</mat-toolbar>
