<div class="edit-container">
  <div *ngIf="componentExists && user">
    <h1>Editing user {{ username }}</h1>
  </div>
  <div *ngIf="!componentExists">
    <h1>Creating new User</h1>
  </div>

  <!-- Edit form for user model -->

  <form #userEditForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="cols-2">
      <!-- name -->
      <mat-form-field class="form-group" appearance="fill">
        <mat-label for="username">User name</mat-label>
        <input
          matInput
          type="text"
          name="username"
          class="form-control"
          [(ngModel)]="user!.username"
          #name="ngModel"
          minlength="3"
          required
          [ngClass]="{
            'is-invalid': name.invalid && name.touched
          }"
        />
        <mat-error *ngIf="name.invalid && name.touched" class="invalid-feedback">
          <mat-error *ngIf="name.errors!['required']">Username is required</mat-error>
          <mat-error *ngIf="name.errors!['minlength']">Username must be at least 3 chars long.</mat-error>
        </mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field class="form-group password" appearance="fill">
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          class="form-control"
          [(ngModel)]="user!.password"
          #password="ngModel"
          password
          required
          [ngClass]="{
            'is-invalid': password.invalid && password.touched
          }"
        />
        <mat-error *ngIf="password.invalid && password.touched" class="invalid-feedback">
          <mat-error *ngIf="password.errors!['required']">Password is required</mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- email -->
    <mat-form-field class="form-group" appearance="fill">
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        type="text"
        name="email"
        class="form-control"
        [(ngModel)]="user!.emailAddress"
        #email="ngModel"
        email
        required
        [ngClass]="{
          'is-invalid': email.invalid && email.touched
        }"
      />
      <mat-error *ngIf="email.invalid && email.touched" class="invalid-feedback">
        <mat-error *ngIf="email.errors!['required']">Email address is required</mat-error>
        <mat-error *ngIf="email.errors!['email']">Please enter a valid email address.</mat-error>
      </mat-error>
    </mat-form-field>

    <!-- location -->
    <div>
      <label>Location</label>
      <div class="cols-2">
        <mat-form-field class="form-group" appearance="fill">
          <mat-label for="latitude">Latitude</mat-label>
          <input
            matInput
            type="number"
            name="latitude"
            class="form-control"
            [(ngModel)]="user!.location.latitude"
            #latitude="ngModel"
            min="-90"
            max="90"
            required
            [ngClass]="{
              'is-invalid': latitude.invalid && latitude.touched
            }"
          />
          <mat-error *ngIf="latitude.invalid && latitude.touched" class="invalid-feedback">
            <div *ngIf="latitude.errors!['required']">Latitude is required</div>
            <div *ngIf="latitude.errors!['type']">Please enter a number.</div>
            <div *ngIf="latitude.errors!['min'] || latitude.errors!['max']">Latitude must be between -90 and 90.</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group" appearance="fill">
          <mat-label for="longitude">Longitude</mat-label>
          <input
            matInput
            type="number"
            name="longitude"
            class="form-control"
            [(ngModel)]="user!.location.longitude"
            #longitude="ngModel"
            min="-180"
            max="180"
            required
            [ngClass]="{
              'is-invalid': longitude.invalid && longitude.touched
            }"
          />
          <mat-error *ngIf="longitude.invalid && longitude.touched" class="invalid-feedback">
            <div *ngIf="longitude.errors!['required']">Longitude is required</div>
            <div *ngIf="longitude.errors!['type']">Please enter a number.</div>
            <div *ngIf="longitude.errors!['min'] || longitude.errors!['max']">
              Longitude must be between -180 and 180.
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- email -->
    <mat-form-field class="form-group" appearance="fill">
      <mat-label for="profiledescription">Profile description</mat-label>
      <textarea
        matInput
        name="profiledescription"
        class="form-control"
        [(ngModel)]="user!.profileDescription"
        #profiledescription="ngModel"
      ></textarea>
    </mat-form-field>

    <!-- Submit en Cancel buttons -->
    <div class="buttons">
      <div class="">
        <button mat-flat-button color="primary" type="submit" class="btn btn-primary" [disabled]="!userEditForm.valid">
          Submit
        </button>
        <button mat-flat-button class="btn btn-warning" routerLink="..">Cancel</button>
        <!-- .. = parent route, .... parent of parent -->
      </div>
    </div>
  </form>

  <!-- <pre
    >{{ user | json }}
</pre> -->
</div>
