<ng-container *ngIf="contentLoad || waiting">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<div class="empty" *ngIf="!contentLoad && following && following.length == 0">
    <p>You are not following anyone yet. Follow people to get recommendations.</p>
</div>
<div *ngIf="!contentLoad" class="cards-wrapper">
    <mat-divider class="divider"></mat-divider>
    <div>
        <h3 class="title" #tooltip="matTooltip" matTooltip="Followed by people you follow and who they follow">
            Recommended creators
        </h3>
        <div class="creators" *ngIf="creators && creators.length > 0; else noCreators">
            <mat-card *ngFor="let creator of creators">
                <mat-card-content>
                    <p class="icon-wrapper"><mat-icon>person</mat-icon></p>
                    <a routerLink="/profile/{{ creator.username }}">{{ creator.username }}</a>
                    <div class="buttons">
                        <button
                            *ngIf="
                                following &&
                                creator.username != loggedInUser?.username &&
                                !isFollowing(creator.username)
                            "
                            mat-stroked-button
                            (click)="follow(creator.username)"
                        >
                            Follow
                        </button>
                        <button
                            *ngIf="creator.username != loggedInUser?.username && isFollowing(creator.username)"
                            mat-stroked-button
                            (click)="unfollow(creator.username)"
                        >
                            Unfollow
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <ng-template #noCreators>
            <p>There are no creators to recommend at this time.</p>
        </ng-template>
        <mat-divider class="divider"></mat-divider>
    </div>
    <div>
        <h3 class="title" #tooltip="matTooltip" matTooltip="Based on your following and who they follow">
            Recommended satellites
        </h3>
        <div class="satellites" *ngIf="satellites && satellites.length > 0; else noSatellites">
            <mat-card *ngFor="let satellite of satellites">
                <mat-card-content>
                    <p class="icon-wrapper"><mat-icon>satellite_alt</mat-icon></p>
                    <a routerLink="/users/{{ satellite.createdBy }}/satellites/{{ satellite.id }}">{{
                        satellite.satelliteName
                    }}</a>
                    <div class="buttons">
                        <button
                            *ngIf="tracking && !isTracking(satellite.id)"
                            mat-stroked-button
                            (click)="track(satellite.id)"
                        >
                            Track
                        </button>
                        <button *ngIf="isTracking(satellite.id)" mat-stroked-button (click)="untrack(satellite.id)">
                            Untrack
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <ng-template #noSatellites>
            <p>There are no satellites to recommend at this time.</p>
        </ng-template>
        <mat-divider class="divider"></mat-divider>
    </div>
    <div>
        <h3 class="title">Creators that are similar to you</h3>
        <div class="similarCreators" *ngIf="similarCreators && similarCreators.length > 0; else noCreators">
            <mat-card *ngFor="let creator of similarCreators">
                <mat-card-content>
                    <p class="icon-wrapper"><mat-icon>person</mat-icon></p>
                    <a routerLink="/profile/{{ creator.username }}">{{ creator.username }}</a>
                    <div class="buttons">
                        <button
                            *ngIf="
                                following &&
                                creator.username != loggedInUser?.username &&
                                !isFollowing(creator.username)
                            "
                            mat-stroked-button
                            (click)="follow(creator.username)"
                        >
                            Follow
                        </button>
                        <button
                            *ngIf="creator.username != loggedInUser?.username && isFollowing(creator.username)"
                            mat-stroked-button
                            (click)="unfollow(creator.username)"
                        >
                            Unfollow
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-divider class="divider"></mat-divider>
    </div>
</div>
