<div *ngIf="satellites; else loading">
    <div class="title">
        <h2 *ngIf="canEdit">Satellites</h2>
        <div *ngIf="canEdit" class="new-button">
            <button
                mat-stroked-button
                color="accent"
                [routerLink]="'/users/' + user?.username + '/satellites/new'"
                style="display: flex"
            >
                <mat-icon>add</mat-icon><span> New Satellite</span>
            </button>
        </div>
    </div>
    <div *ngIf="satellites.length > 0; else none">
        <div class="wrapper" *ngFor="let satellite of satellites">
            <div class="header">
                <a [routerLink]="'/users/' + user?.username + '/satellites/' + satellite.id"
                    ><h3>
                        <mat-icon>satellite_alt</mat-icon><span>{{ satellite.satelliteName }}</span>
                    </h3></a
                >
                <div class="button-container">
                    <button
                        *ngIf="!canEdit && tracking && !isTracking(satellite.id)"
                        mat-stroked-button
                        (click)="track(satellite.id)"
                    >
                        Track
                    </button>
                    <button
                        *ngIf="!canEdit && isTracking(satellite.id)"
                        mat-stroked-button
                        (click)="untrack(satellite.id)"
                    >
                        Untrack
                    </button>
                    <button
                        *ngIf="canEdit"
                        mat-stroked-button
                        color="primary"
                        [routerLink]="'/users/' + user?.username + '/satellites/' + satellite.id + '/edit'"
                        class="icon-button"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        *ngIf="canEdit"
                        mat-stroked-button
                        color="warn"
                        (click)="deleteSatellite(satellite.id)"
                        class="icon-button"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="text-muted">
                <p>
                    <i>
                        Created on
                        {{ satellite.createdAt | date : 'dd/MM/yyyy' }}
                    </i>
                </p>
            </div>
        </div>
    </div>

    <ng-template #none>
        <div class="none">
            <div *ngIf="canEdit">
                <p>You haven't created any satellites yet.</p>
            </div>
            <div *ngIf="!canEdit">
                <p>This user hasn't created any satellites yet.</p>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #loading><mat-progress-bar mode="indeterminate"></mat-progress-bar></ng-template>

<div *ngIf="waiting">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
