<div class="component-container">
    <div class="header" style="display: flex; justify-content: space-between">
        <h2>All current users</h2>
        <button mat-raised-button color="primary" [routerLink]="'new'" class="demo-button">
            <mat-icon>add</mat-icon>Add user
        </button>
    </div>
    <div class="table-wrapper">
        <table mat-table [dataSource]="usersArray" class="mat-elevation-z8 demo-table">
            <caption style="visibility: hidden">
                All current users
            </caption>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let user">{{ user.username }}</td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let user">
                    {{ user.emailAddress }}
                </td>
            </ng-container>

            <!-- Roles Column -->
            <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef>Roles</th>
                <td mat-cell *matCellDef="let user">
                    {{ user.roles }}
                </td>
            </ng-container>

            <!-- CreatedAt Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Member since</th>
                <td mat-cell *matCellDef="let user">
                    {{ user.createdAt | date : 'dd/MM/yyyy' }}
                </td>
            </ng-container>

            <!-- Button Column -->
            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="icon" layout-align="center center" *matCellDef="let user">
                    <div *ngIf="!user.roles.includes('admin')">
                        <button
                            mat-flat-button
                            style="background-color: rgb(112, 112, 112)"
                            [routerLink]="user.username + '/edit'"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-flat-button color="warn" (click)="removeUser(user.username)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="[row.username]"></tr>
        </table>
    </div>
</div>
