<div class="component-container">
    <div class="cols-2">
        <div class="info">
            <p class="text-muted">
                This application was made for the course 'Clientside web frameworks' at Avans University of Applied
                Sciences in Breda.
            </p>
            <h1>Satellite Tracker</h1>
            <p>
                This application will allow users to create and launch satellites into an orbit. They can also track
                satellites (their own but also satellites created by other users) and see if they are visible at their
                location at a given time. Users can also follow other users and see when these users create or launch
                satellites.
            </p>
        </div>
        <mat-card style="min-width: 250px">
            <img
                id="profile-pic"
                src="https://www.worldatlas.com/r/w960-q80/upload/fd/3a/fc/shutterstock-734071369-2.jpg"
                class=""
                alt="Satellite in orbit with earth in the background"
            />
            <mat-card-content style="padding-top: 10px">
                <h2 style="margin-bottom: 6px">Joy Boellaard</h2>
                <a href="mailto:je.boellaard@student.avans.nl">Contact me</a>
            </mat-card-content>
        </mat-card>
    </div>

    <h2>Entities</h2>
    <p>
        The entities used in this application are shown here. The type relates to the type as seen in the application,
        so it differs a bit from how the entities will be stored. E.g. location is a seperate model in the application,
        but in the database it will be saved as GeoJSON.
    </p>

    <div class="entities-wrapper">
        <div class="col">
            <h3>Satellite</h3>
            <ul>
                <li>id: string</li>
                <li>name: string</li>
                <li>mass: number</li>
                <li>radiusOfBase: number</li>
                <li>colourOfBase: string</li>
                <li>radiusOfParts: number</li>
                <li>purpose: string</li>
                <li>satelliteParts: satellitePart[]</li>
                <li>orbit: orbit</li>
                <li>launch: launch</li>
                <li>createdAt: date</li>
                <li>lastUpdated: date</li>
            </ul>
        </div>
        <div class="col">
            <h3>Satellite Part</h3>
            <ul>
                <li>id: string</li>
                <li>name: string</li>
                <li>function: string</li>
                <li>material: string</li>
                <li>colour: string</li>
                <li>amount: number</li>
                <li>createdAt: date</li>
                <li>lastUpdated: date</li>
            </ul>
        </div>
        <div class="col">
            <h3>Orbit</h3>
            <ul>
                <li>id: string</li>
                <li>type: string</li>
                <li>inclination: number</li>
                <li>semiMajorAxis: number</li>
                <li>period: number</li>
                <li>eccentricity: number</li>
                <li>createdAt: date</li>
                <li>lastUpdated: date</li>
            </ul>
        </div>
        <div class="col">
            <h3>Launch</h3>
            <ul>
                <li>id: string</li>
                <li>launchDate: date</li>
                <li>launchSite: location</li>
                <li>succeeded: boolean</li>
                <li>createdAt: date</li>
                <li>lastUpdated: date</li>
            </ul>
        </div>
        <div class="col">
            <h3>User</h3>
            <ul>
                <li>id: string</li>
                <li>userName: string</li>
                <li>email: string</li>
                <li>password: string</li>
                <li>location: location</li>
                <li>createdAt: date</li>
                <li>lastUpdated: date</li>
            </ul>
        </div>
        <div class="col">
            <h3>Location</h3>
            <ul>
                <li>type: string</li>
                <li>coordinates: number[]</li>
            </ul>
        </div>
    </div>

    <p>
        Using these entities, we can construct the following entity relationship diagram, showing how they will be
        persisted.
    </p>

    <img
        id="erd-image"
        src="assets/images/erd.png"
        alt="Entity relationship diagram of the entities of this application"
    />

    <h2>User stories</h2>
    <table mat-table [dataSource]="dataSourceUserStories" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="No.">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.no }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="User story">
            <th mat-header-cell *matHeaderCellDef>User story</th>
            <td mat-cell *matCellDef="let element">{{ element.story }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Clarification">
            <th mat-header-cell *matHeaderCellDef>Clarification</th>
            <td mat-cell *matCellDef="let element">{{ element.clarification }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="userStoryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: userStoryColumns"></tr>
    </table>
</div>
<!-- </div> -->
