<div class="component-container">
    <div class="cols-2">
        <div class="info">
            <p class="text-muted">
                This application was made for the courses 'Clientside web frameworks' and 'No-SQL databases' at Avans
                University of Applied Sciences in Breda.
            </p>
            <h1>Satellite Tracker</h1>
            <p>
                This application will allow users to create satellites and orbits for these satellites to follow. They
                can also track satellites and follow users. Users will have a feed of users they follow and satellites
                they track, to see the latest activities. Based on following and tracking, a user will receive
                recommendations of satellites and users to follow.
            </p>
        </div>
        <mat-card style="min-width: 250px">
            <img
                id="profile-pic"
                src="https://www.worldatlas.com/r/w960-q80/upload/fd/3a/fc/shutterstock-734071369-2.jpg"
                class=""
                alt="Satellite in orbit with earth in the background"
            />
            <mat-card-content style="padding-top: 10px">
                <h2 style="margin-bottom: 6px">Joy Boellaard</h2>
                <a href="mailto:je.boellaard@student.avans.nl">Contact me</a>
            </mat-card-content>
        </mat-card>
    </div>

    <h2>Entities</h2>
    <p>
        The entities used in this application are shown here. The type relates to the type as seen in the application,
        so it differs a bit from how the entities will be stored. E.g. location is a seperate model in the application,
        but in the database it will be saved as GeoJSON. Shape is an enum with the values 'Sphere' and 'Cube'.
    </p>

    <div class="entities-wrapper">
        <div class="col">
            <h3>Satellite</h3>
            <ul>
                <li>id: string</li>
                <li>satelliteName: string</li>
                <li>createdBy: User</li>
                <li>description: string</li>
                <li>purpose: string</li>
                <li>mass: number</li>
                <li>sizeOfBase: number</li>
                <li>colorOfBase: string</li>
                <li>shapeOfBase: Shape</li>
                <li>satelliteParts: SatellitePart[]</li>
                <li>orbit: Orbit</li>
                <li>trackers: User[]</li>
                <li>createdAt: date</li>
                <li>updatedAt: date</li>
            </ul>
        </div>
        <div class="col">
            <h3>Orbit</h3>
            <ul>
                <li>inclination: number</li>
                <li>semiMajorAxis: number</li>
                <li>period: number</li>
                <li>eccentricity: number</li>
                <li>longitudeOfAscendingNode: number</li>
                <li>argumentOfPerigee: number</li>
                <li>dateTimeOfLaunch: date</li>
                <li>createdAt: date</li>
                <li>updatedAt: date</li>
            </ul>
        </div>
        <div class="col">
            <h3>User</h3>
            <ul>
                <li>username: string</li>
                <li>profileDescription: string</li>
                <li>location: Location</li>
                <li>followers: User[]</li>
                <li>following: User[]</li>
                <li>tracking: Satellite[]</li>
                <li>createdAt: date</li>
                <li>updatedAt: date</li>
            </ul>
        </div>
        <div class="col">
            <h3>Identity</h3>
            <ul>
                <li>username: string</li>
                <li>email: string</li>
                <li>password: string</li>
                <li>roles: string[]</li>
                <li>user: User</li>
            </ul>
        </div>
        <div class="col">
            <h3>SatellitePart</h3>
            <ul>
                <li>id: string</li>
                <li>partName: string</li>
                <li>description: string</li>
                <li>function: string</li>
                <li>material: string</li>
            </ul>
        </div>
        <div class="col">
            <h3>CustomSatellitePart</h3>
            <ul>
                <li>satellitePart: SatellitePart</li>
                <li>color: string</li>
                <li>size: number</li>
                <li>quantity: number</li>
            </ul>
        </div>
        <div class="col">
            <h3>Location</h3>
            <ul>
                <li>type: string</li>
                <li>coordinates: number[]</li>
            </ul>
        </div>
    </div>

    <p style="margin-top: 10px">
        Using these entities, we can construct the following entity relationship diagram, showing how they will be
        persisted:
    </p>

    <img
        id="erd-image"
        src="assets/images/erd.png"
        alt="Entity relationship diagram of the entities of this application"
    />

    <h2>User stories</h2>
    <table mat-table [dataSource]="dataSourceUserStories" class="mat-elevation-z8">
        <caption style="visibility: hidden">
            User stories
        </caption>
        <!-- Position Column -->
        <ng-container matColumnDef="No.">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="User story">
            <th mat-header-cell *matHeaderCellDef>User story</th>
            <td mat-cell *matCellDef="let element">{{ element.story }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Notes">
            <th mat-header-cell *matHeaderCellDef>Notes</th>
            <td mat-cell *matCellDef="let element">{{ element.notes }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="userStoryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: userStoryColumns"></tr>
    </table>

    <h2>Future additions</h2>
    <p>The following features are not implemented, but might be added in the future:</p>
    <ul>
        <li>Checking if satellites you follow are visible at your location at a given time on a map</li>
        <li>Launches and launch events</li>
        <li>Notifications for various activities</li>
        <li>Searching users by username</li>
        <li>Accurate position of the earth and satellite based on datetime at perigee</li>
        <li>Taking weight of satellite into account when calculating orbit</li>
        <li>Adding visuals of the satellite parts</li>
        <li>Ability to edit identity information</li>
    </ul>
</div>
