<div class="component-container" *ngIf="user; else loadingMessage">
  <div class="header">
    <h1>Profile of {{ user.username }}</h1>
    <div class="buttons">
      <button mat-flat-button color="accent" routerLink="edit"><mat-icon>edit</mat-icon> Edit</button>
      <button mat-flat-button color="warn" (click)="removeUser(user!.id!)"><mat-icon>delete</mat-icon> Remove</button>
    </div>
  </div>
  <div class="text-muted">
    <p>
      Member since:
      {{ user.createdAt | date: 'dd/MM/yyyy' }}
    </p>
  </div>
  <br />

  <p>Email address: {{ user.emailAddress }}</p>
  <p>Location: [ {{ user.location.latitude.toFixed(5) }}, {{ user.location.longitude.toFixed(5) }} ]</p>

  <br />

  <p>Satellites:</p>
  <div class="table-wrapper">
    <table mat-table [dataSource]="satellites" class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let satellite">{{ satellite.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let satellite">{{ satellite.name }}</td>
      </ng-container>

      <!-- Mass Column -->
      <ng-container matColumnDef="mass">
        <th mat-header-cell *matHeaderCellDef>Mass (kg)</th>
        <td mat-cell *matCellDef="let satellite">{{ satellite.mass }}</td>
      </ng-container>

      <!-- Radius Column -->
      <ng-container matColumnDef="radius">
        <th mat-header-cell *matHeaderCellDef>Radius (m)</th>
        <td mat-cell *matCellDef="let satellite">
          {{ satellite.radiusOfBase + satellite.radiusOfParts }}
        </td>
      </ng-container>

      <!-- Orbit Column -->
      <ng-container matColumnDef="orbit">
        <th mat-header-cell *matHeaderCellDef>Has orbit</th>
        <td mat-cell *matCellDef="let satellite">
          {{ satellite.orbit ? 'Yes' : 'No' }}
        </td>
      </ng-container>

      <!-- CreatedAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let satellite">
          {{ satellite.createdAt | date: 'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <!-- UpdatedAt Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef>Last updated</th>
        <td mat-cell *matCellDef="let satellite">
          {{ satellite.lastUpdated | date: 'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <!-- Button Column -->
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="edit icon" layout-align="center center" *matCellDef="let satellite">
          <button mat-flat-button color="accent" [routerLink]="'satellites/' + satellite.id + '/edit'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-flat-button color="warn" (click)="removeSatellite(satellite.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="satelliteColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: satelliteColumns" [routerLink]="'satellites/' + row.id"></tr>
    </table>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" [routerLink]="'satellites/new'" class="demo-button">Add satellite</button>
  </div>
</div>

<ng-template #loadingMessage> Loading Data Service ... </ng-template>
