.label-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0;
    max-width: 100%;
}

.slider {
    width: 96%;
    margin: 0 2%;
}

.between-sliders {
    margin: 0 10px;
}

#canvas-wrapper canvas {
    width: 100%;
    height: 100%;
}

section {
    padding: 0px 20px 0px 20px;
    // max-width: 800px;
    margin: auto;
}

#checkbox-wrapper {
    float: left;
    margin-top: 4px;
}

#zoom-slider-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#zoom-slider-wrapper mat-slider.slider {
    max-width: 60%;
}

#form-wrapper {
    padding: 0px 20px 20px 20px;
    max-width: 100%;
    margin: auto;
}

.cols-3 {
    max-width: 100%;
}

#satellite-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

@media only screen and (max-width: 800px) {
    section {
        display: flex;
        flex-direction: column;
    }

    #checkbox-wrapper {
        float: none;
        display: flex;
        justify-content: center;
        margin-left: -10px;
    }

    #zoom-slider-wrapper {
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    #form-wrapper {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    #checkbox-wrapper {
        float: none;
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
    }

    #zoom-slider-wrapper {
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    #zoom-slider-wrapper mat-slider.slider {
        max-width: 100%;
    }

    .col-2 {
        display: grid;
        grid-template-columns: 2fr minmax(340px, 1fr);
        column-gap: 10px;
    }

    .col-2 canvas {
        min-height: 350px;
    }

    .col-2 #form-wrapper {
        width: calc(100% - 40px);
    }
}

@media only screen and (min-width: 1300px) {
    .col-2 {
        display: grid;
        grid-template-columns: 2fr minmax(1fr, 450px);
        column-gap: 10px;
    }

    .col-2 #form-wrapper {
        width: 100%;
    }
}
