.header {
    display: flex;
    justify-content: space-between;
}

.header .buttons {
    justify-self: end;
}

.buttons button {
    margin-left: 10px;
}

table {
    width: 100%;
}

.component-container {
    display: grid;
    grid-template-columns: 35% 65%;
}

#profile {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 0px;
    padding-right: 20px;
    border-right: 1px solid #424242;
}

#tabs {
    width: 100%;
}

.profile-button {
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid #424242;
}

.profile-button button {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    background-color: transparent;
}

.text-muted p {
    font-size: 13px;
    margin-bottom: 6px;
}

@media only screen and (max-width: 990px) {
    .component-container {
        grid-template-columns: 100%;
    }

    #profile {
        margin: 0px 0px 20px 0px;
        padding-right: 0px;
        border-right: none;
    }
}
