<div class="component-container" *ngIf="user; else loading">
    <form #profileEditForm="ngForm" name="form" (ngSubmit)="onSubmit()">
        <div id="profile">
            <h1 style="display: flex; margin-bottom: 8px">
                <mat-icon style="align-self: center; margin-right: 10px">portrait</mat-icon> {{ user.username }}
            </h1>
            <div class="text-muted">
                <p>
                    <i>
                        Member since:
                        {{ user.createdAt | date : 'dd/MM/yyyy' }}
                    </i>
                </p>
            </div>

            <mat-form-field class="form-group" appearance="fill">
                <mat-label for="profileDescription">Profile description</mat-label>
                <textarea
                    matInput
                    name="profileDescription"
                    type="text"
                    id="profileDescription"
                    [(ngModel)]="user.profileDescription"
                    #description="ngModel"
                ></textarea>
            </mat-form-field>
            <div>
                <div style="display: flex; justify-content: space-between">
                    <h3 style="align-self: center; margin: 0">Location</h3>
                    <button
                        mat-icon-button
                        (click)="getLocation()"
                        #tooltip="matTooltip"
                        matTooltip="Use your device's location"
                    >
                        <mat-icon>location_on</mat-icon>
                    </button>
                </div>
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label for="latitude">Latitude</mat-label>
                    <input
                        matInput
                        type="number"
                        name="latitude"
                        [(ngModel)]="user.location!.coordinates!.latitude"
                        #latitude="ngModel"
                        min="-90"
                        max="90"
                        [ngClass]="{
                            'is-invalid': latitude.invalid && latitude.touched
                        }"
                    />
                    <mat-error
                        *ngIf="
                            latitude.invalid && latitude.touched && (latitude.errors!['min'] || latitude.errors!['max'])
                        "
                        class="invalid-feedback"
                        >Latitude must be between -90 and 90.</mat-error
                    >
                </mat-form-field>
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label for="longitude">Longitude</mat-label>
                    <input
                        matInput
                        type="number"
                        name="longitude"
                        [(ngModel)]="user.location!.coordinates!.longitude"
                        #longitude="ngModel"
                        min="-90"
                        max="90"
                        [ngClass]="{
                            'is-invalid': longitude.invalid && longitude.touched
                        }"
                    />
                    <mat-error
                        *ngIf="
                            longitude.invalid &&
                            longitude.touched &&
                            (longitude.errors!['min'] || longitude.errors!['max'])
                        "
                        class="invalid-feedback"
                        >Longitude must be between -180 and 180.</mat-error
                    >
                </mat-form-field>
            </div>
            <div class="buttons" style="display: flex; justify-content: space-between; margin-top: 20px">
                <button mat-flat-button class="btn btn-warning" routerLink="..">Cancel</button>
                <button
                    mat-flat-button
                    color="primary"
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!profileEditForm.valid"
                >
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

<ng-template #loading><mat-progress-bar value="indeterminate"></mat-progress-bar></ng-template>
